{%  extends 'layout.html.twig' %}

{% block content %}

    <h1>Music</h1>

    {% for  music in musics %}
    {{ dump(music) }}
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ music.Artist }}</h5>
                <p class="card-text">{{ music.Title }}</p>
                <p class="card-text"><small class="text-muted">option</small></p>
            </div>
        </div>
    {% endfor %}

{% endblock %}