/* COUNTRY BOARD */
iframe {
    min-height: 300px;
}

iframe.youtube {
    width: 100%;
}

div > iframe {
    width: 100%;
    display: block;
}

#map {
    z-index: -1;
}

.country-street-view {
    height: 100%;
}

.description-text {
    text-align: justify;
}

.text-plat {
    text-align: center;
}

/* GENERAL CSS */
*, body, container, container-fluid, ul, li {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
#map { position: absolute; top: 150px; bottom: 80px; width: 100%; z-index: -1; }
header, footer {width: 100%;}
header {position: absolute; top: 0px; margin-top: 30px;}
header > span { margin: auto auto;}
header > span > h1,p {text-align: center; margin-left: auto;}
footer {position: absolute; bottom: 0px;}


a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:hover {text-decoration: underline; color: #00f5ff;}
a:active {text-decoration: underline; color: #00f5ff;}

header > span > h1 {font-size: 56px;}
.nav-bar {
    /*background: linear-gradient(to bottom,grey, rgba(0,0,0,0));*/
    height: 100px;
    z-index: 10;
}

.nav-bar > div { margin: auto auto; }

.nav-bar > div > a {
    display: flex;
    justify-content: center;
}

.nav-bar-icon {
    height: 80px;
}

.nav-link {
    font-size: 20px;
}
/* MUSEUM SECTION FOR ALL SIZE */


.museum-banner-container {
    display: flex;
    overflow: hidden;
    max-height: 250px;
    place-items: flex-end;
    background: linear-gradient(to top,black, rgba(0,0,0,0));
    box-shadow: black 0px 0px 10px;
    margin: 10px 0;
}

.museum-banner-image {
    width: 100%;
    height: auto;
    z-index: -1;
    display: flex;
    align-content: center
}

.museum-banner-image img {
    width: 100%;
}

.museum-tilte {
    position: absolute;
    display: flex;
    color: white;
    padding: 15px 30px;
}

.footer {
    background: linear-gradient(to top,grey, rgba(0,0,0,0));
    height: 100px;
}

/* EXTRA SMALL DEVICES AND MOBILE */
@media screen and (max-width: 700px){
    /* MUSEUM SECTION */
    .museum-first-block {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .museum-description {
        width: 80%;
        height: 100%;
        padding: 30px;
        box-shadow: black 0px 0px 10px;
    }

    .museum-video {
        margin: 15px;
        width: 90%;
    }

    .museum-video iframe{
        width: 100%;
        min-height: 200px;
        box-shadow: black 0px 0px 10px;
    }

    .museum-street-view {
        width: 100%;
        display: contents;
        box-shadow: black 0px 0px 10px;
    }

    .museum-map {
        height: 250px;
        width: 90%;
    }

    .museum-second-block {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .museum-container-webcams-first {
        width: 90%;
    }

    .museum-container-webcams {
        display: none;
    }

}
/* SMALL DEVICES AND TABLET */
@media screen and (min-width: 700px) and (max-width: 1080px){
    /* MUSEUM SECTION */
    .museum-first-block {
        padding: 10px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .museum-description {
        min-width: 200px;
        margin: 30px;
        width: 90%;
        height: 100%;
        padding: 30px;
        box-shadow: black 0px 0px 10px;
    }

    .museum-video iframe{
        margin: 10px 15px;
        width: 450px;
        height: 250px;
        box-shadow: black 0px 0px 10px;
    }

    .museum-street-view {
        width: 100%;
        display: contents;
        box-shadow: black 0px 0px 10px;
    }

    .museum-map {
        height: 250px;
        width: 90%;
    }

    .museum-second-block {
        display: flex;
        justify-content: space-around;
        margin: 10px;
        padding: 30px;
        box-shadow: black 0px 0px 10px;
    }

    .museum-container-webcams {
        margin: 10px;
        box-shadow: black 0px 0px 10px;
    }

    .museum-container-webcams-first {
        display: none;
    }

    .museum-cam {
        min-width: 250px;
        min-height: 150px;
    }
}
/* LARGE DEVICES AND DESKTOP */
@media screen and (min-width: 1081px) {
    /* MUSEUM SECTION */
    .museum-first-block {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }

    .museum-description {
        min-width: 200px;
        width: 30%;
        height: 100%;
        padding: 30px;
        box-shadow: black 0px 0px 10px;
    }

    .museum-video iframe{
        margin: 0 15px;
        width: 450px;
        height: 250px;
        box-shadow: black 0px 0px 10px;
    }

    .museum-street-view {
        width: 30%;
        box-shadow: black 0px 0px 10px;
    }

    .museum-map {
        height: 250px;
        min-width: 300px;
    }

    .museum-second-block {
        display: flex;
        justify-content: space-around;
        margin: 10px;
        padding: 30px;
        box-shadow: black 0px 0px 10px;
    }

    .museum-container-webcams,
    .museum-container-webcams-first {
        width: 30%;
        box-shadow: black 0px 0px 10px;
    }

    .museum-cam {
        min-width: 250px;
        min-height: 150px;
    }

    /* COUNTRY */

    #flag_img {
        width: 120px;
    }

    #flag_img > img {
        border-radius: 50%;
        width: 120px;
        height: 120px;
    }

    section:first-of-type {
        margin-top: 150px;
    }

    section > div:first-of-type {
        height: 150px;
        margin: 20px 100px;
    }

    section > div:first-of-type > div > h1 {
        font-size: 64px;
        text-transform: uppercase;
        padding-top: 20px;
    }

    section > div:nth-of-type(2) {
        padding-left: 50px;
    }


    section > div:nth-of-type(2) > div {
        margin-bottom: 60px;
        height: 150px;
    }

    .description-text {
        column-count: 3;
        column-gap: 40px;
        column-rule-style: solid;
    }

    .container-webcams {
        width: 40%;
        margin: auto auto;
    }

    #street_view {
        height: 100%;
    }

    /* COUNTRY */
}
