{% extends 'layout.html.twig' %}

{% block content %}
    <main>
        <!--BANNER PICTURE-->
        <div class="museum-banner-container">
            <div class="museum-banner-image">
                <img src="/assets/images/museum/british-museum-dome.jpg">
            </div>
            <div class="museum-tilte">
                <h2>british museum - London</h2>
            </div>
        </div>
        <!--DESCRIPTION, VIDEO AND STREET VIEW-->
        <div class="museum-first-block">
            <div class="museum-description">
                <p>
                    Le British Museum, est un musée de l'histoire et de la culture humaine, situé à Londres, au Royaume-Uni.
                    Ses collections, constituées de plus de sept millions d’objets, sont parmi les plus importantes du monde
                    et proviennent de tous les continents.
                </p>
            </div>
            <div class="museum-video">
                <iframe src="https://www.youtube.com/embed/_Tz-ignJtHQ" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>
            <div class="museum-street-view">
                <div class="museum-map" id="street-view"></div>
            </div>
        </div>
        <!--CAM SECTION-->
        <div class="museum-second-block">
            <div class="museum-container-webcams-first">
                <div class="museum-cam">
                    <a name="windy-webcam-timelapse-player" data-id="1463700399" data-play="day"
                       href="https://windy.com/webcams/1463700399" target="_blank">Égletons: Egletons</a>
                </div>
            </div>
            <div class="museum-container-webcams">
                <div class="museum-cam">
                    <a name="windy-webcam-timelapse-player" data-id="1463700399" data-play="day"
                       href="https://windy.com/webcams/1463700399" target="_blank">Égletons: Egletons</a>
                </div>
            </div>
            <div class="museum-container-webcams">
                <div class="museum-cam">
                    <a name="windy-webcam-timelapse-player" data-id="1463700399" data-play="day"
                       href="https://windy.com/webcams/1463700399" target="_blank">Égletons: Egletons</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block javascript %}
    <script>
    var panorama;
    function initialize() {
        panorama = new google.maps.StreetViewPanorama(
            document.getElementById('street-view'),
            {
                position: {lat: 37.869260, lng: -122.254811},
                pov: {heading: 165, pitch: 0},
                zoom: 1
            });
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCN5Xou67tRIPRc31tgVd2yY9SQFhaJpUw&callback=initialize">
        </script>
        <script async type="text/javascript"
    src="https://webcams.windy.com/webcams/public/embed/script/player.js"></script>
{% endblock %}